    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/img/zigs_base.svg" alt="base image of a moire pattern">
                    <div data-0="background-color:rgb(0,0,255);transform:rotate(0deg);"data-500="background-color:rgb(255,0,0);transform:rotate(360deg);"class="skrollable skrollable-between"style="background-color: rgb(235, 0, 20); transform: rotate(331.92deg);">
                         <img class="img-responsive" src="/img/zigs_top.svg" alt="rotating top image of a moire pattern">
                    </div>
                </div>
            </div>
            <span class="name">{{ site.title }}</span>
        </div>
    </header>
