
    <!-- Sounds Section (previously "portfolio grid") -->
    <section id="sounds">
        <div class="container">
             <div class="col-lg-12">
                <div>
                    <img class="img-responsive" src="/images/moire_bottom_red.svg" alt="read squiggles obscured by black squigles">
                    <div>
                        <img class="img-responsive-inner" src="/images/moire_top_black.svg" alt="black squiggles obsuring a red background">
                </div>
            </div>
            <div class="row">
                <div class="text-sounds text-left">
                    <h2>Sounds</h2>
                </div>
            </div>
        </div>
    </section>
