
    <!-- Sounds Section (previously "portfolio grid") -->
    <section id="sounds">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="background-color:yellow;">
                    <h2 class="text-sounds text-left">Sounds</h2>
                </div>
                <div class="col-sm-6" style="background-color:orange;">
                    <h2 class="text-sounds text-right">Column Test</h2>
                    <img class="img-on-bottom" src="/images/moire_bottom_red.svg" alt="read squiggles obscured by black squigles">
                    <img class="img-on-top" src="/images/moire_top_black.svg" alt="black squiggles obsuring a red background">
                </div>
            </div>
        </div>
    </section>


