
    <!-- Sounds Section (previously "portfolio grid") -->
    <section id="sounds">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2 class="text-sounds text-left">Sounds</h2>
                    <p>
                        <a class="sounds" href="https://soundcloud.com/conconloops" target="_blank">conconloops</a>
                    </p>
                    <p>
                        <a class="sounds" href="https://concon.bandcamp.com/" target="_blank">concon</a>
                    </p>
                    <table class="sounds">
                      <tr>
                        <td><a class="sounds" href="https://soundcloud.com/conconloops" target="_blank">conconloops</a></td>
                      </tr>
                      <tr>
                        <td><a class="sounds" href="https://concon.bandcamp.com/" target="_blank">concon</a></td>
                      </tr>
                    </table>
                </div>
                <div class="col-sm-6 moire-holder-right">
                    <img src="/images/red-circle-crossfade.gif" alt="red squiggles obscured by beige squigles">
                </div>
            </div>
        </div>
    </section>
