
<!-- Visuals Section -->
    <section id="visuals">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 moire-holder-right">
                    <img src="/images/green-circle-crossfade.gif" alt="red squiggles obscured by beige squigles">
                </div>
                <div class="col-sm-6">
                    <h2 class="text-visuals text-right">Visuals</h2>
                    <table class="visuals">
                      <tr>
                        <td><a class="text-visuals" href="/videos" target="_blank">videos</a></td>
                      </tr>
                      <tr>
                        <td><a class="text-visuals" href="/images" target="_blank">images</a></td>
                      </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
