<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    <section class="sounds">
      <div class="container">
        <div class="row">

          <!-- The four columns -->
          <div class="gallery-row">
            <div class="gallery-column">
              <img src="/images/green-circle-crossfade.gif"alt="Nature" style="width:100%" onclick="myFunction(this);">
            </div>
            <div class="gallery-column">
              <img src="/images/green-circle-crossfade.gif" alt="Snow" style="width:100%" onclick="myFunction(this);">
            </div>
            <div class="gallery-column">
              <img src="/images/green-circle-crossfade.gif" alt="Mountains" style="width:100%" onclick="myFunction(this);">
            </div>
            <div class="gallery-column">
              <img src="/images/green-circle-crossfade.gif" alt="Lights" style="width:100%" onclick="myFunction(this);">
            </div>
             <div class="gallery-column">
              <img src="/images/green-circle-crossfade.gif" alt="Lights" style="width:100%" onclick="myFunction(this);">
            </div>
          </div>

          <div class="gallery-container">
            <span onclick="this.parentElement.style.display='none'" class="gallery-closebtn">&times;</span>
            <img id="expandedImg" style="width:100%">
            <div id="imgtext"></div>
          </div>

        </div>
      </div>
     </section>

    {% include footer.html %}
    {% include js.html %}

    <script>
    function myFunction(imgs) {
      var expandImg = document.getElementById("expandedImg");
      var imgText = document.getElementById("imgtext");
      expandImg.src = imgs.src;
      imgText.innerHTML = imgs.alt;
      expandImg.parentElement.style.display = "block";
    }
    </script>

    </body>

</html>
