<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
    <section class="sounds">
      <div class="container">

        <div class="row">

          <!-- The five columns -->
          <div class="gallery-row">
            <div class="gallery-column">
              <img src="/images/slide_projector_1_cropped.JPG" alt="Nature" style="width:100%" onclick="myFunction(this);">
            </div>
            <div class="gallery-column">
              <img src="/images/green-circle-crossfade.gif" alt="Snow" style="width:100%" onclick="myFunction(this);">
            </div>
            <div class="gallery-column">
              <img src="/images/slide_projector_2_cropped.JPG" alt="Mountains" style="width:100%" onclick="myFunction(this);">
            </div>
            <div class="gallery-column">
              <img src="/images/green-circle-crossfade.gif" alt="Lights" style="width:100%" onclick="myFunction(this);">
            </div>
             <div class="gallery-column">
              <img src="/images/slide_projector_3_cropped.JPG" alt="Lights" style="width:100%" onclick="myFunction(this);">
            </div>
          </div>
          <!-- The large image -->
          <div class="gallery-container" style="display: block;">
            <img id="expandedImg" src="/images/slide_projector_1_cropped.JPG" style="width:100%">
          </div>

        </div>

        <div class="row">

          <!-- The five columns -->
          <div class="gallery-row">
            <div class="gallery-column">
              <img src="/images/slide_projector_1_cropped.JPG" alt="Nature" style="width:100%" onclick="myFunction_1(this);">
            </div>
            <div class="gallery-column">
              <img src="/images/green-circle-crossfade.gif" alt="Snow" style="width:100%" onclick="myFunction_1(this);">
            </div>
            <div class="gallery-column">
              <img src="/images/slide_projector_2_cropped.JPG" alt="Mountains" style="width:100%" onclick="myFunction_1(this);">
            </div>
            <div class="gallery-column">
              <img src="/images/green-circle-crossfade.gif" alt="Lights" style="width:100%" onclick="myFunction_1(this);">
            </div>
             <div class="gallery-column">
              <img src="/images/slide_projector_3_cropped.JPG" alt="Lights" style="width:100%" onclick="myFunction_1(this);">
            </div>
          </div>
          <!-- The large image -->
          <div class="gallery-container" style="display: block;">
            <img id="expandedImg_1" src="/images/slide_projector_1_cropped.JPG" style="width:100%">
          </div>

        </div>

      </div>
     </section>

    {% include footer.html %}
    {% include js.html %}

    <script>
    function myFunction(imgs) {
      var expandImg = document.getElementById("expandedImg");
      expandImg.src = imgs.src;
      expandImg.parentElement.style.display = "block";
    }
    // script for second gallery
    function myFunction_1(imgs) {
      var expandImg = document.getElementById("expandedImg_1");
      expandImg.src = imgs.src;
      expandImg.parentElement.style.display = "block";
    }
    </script>

    </body>

</html>
